@charset "utf-8";
@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('../fonts/sinkinsans-400regular-webfont.eot');
    src: url('../fonts/sinkinsans-400regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-400regular-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-400regular-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-400regular-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-400regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans400_italic';
    src: url('../fonts/sinkinsans-400italic-webfont.eot');
    src: url('../fonts/sinkinsans-400italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-400italic-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-400italic-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-400italic-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-400italic-webfont.svg#sinkin_sans400_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans300_light_italic';
    src: url('../fonts/sinkinsans-300lightitalic-webfont.eot');
    src: url('../fonts/sinkinsans-300lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-300lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-300lightitalic-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-300lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-300lightitalic-webfont.svg#sinkin_sans300_light_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans300_light';
    src: url('../fonts/sinkinsans-300light-webfont.eot');
    src: url('../fonts/sinkinsans-300light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-300light-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-300light-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-300light-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-300light-webfont.svg#sinkin_sans300_light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans500_medium';
    src: url('../fonts/sinkinsans-500medium-webfont.eot');
    src: url('../fonts/sinkinsans-500medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-500medium-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-500medium-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-500medium-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-500medium-webfont.svg#sinkin_sans500_medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans600SBdIt';
    src: url('../fonts/sinkinsans-600semibolditali-webfont.eot');
    src: url('../fonts/sinkinsans-600semibolditali-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-600semibolditali-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-600semibolditali-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-600semibolditali-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-600semibolditali-webfont.svg#sinkin_sans600SBdIt') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans600_semibold';
    src: url('../fonts/sinkinsans-600semibold-webfont.eot');
    src: url('../fonts/sinkinsans-600semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-600semibold-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-600semibold-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-600semibold-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-600semibold-webfont.svg#sinkin_sans600_semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans500_medium_italic';
    src: url('../fonts/sinkinsans-500mediumitalic-webfont.eot');
    src: url('../fonts/sinkinsans-500mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-500mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-500mediumitalic-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-500mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-500mediumitalic-webfont.svg#sinkin_sans500_medium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans700_bold';
    src: url('../fonts/sinkinsans-700bold-webfont.eot');
    src: url('../fonts/sinkinsans-700bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-700bold-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-700bold-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-700bold-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-700bold-webfont.svg#sinkin_sans700_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans700_bold_italic';
    src: url('../fonts/sinkinsans-700bolditalic-webfont.eot');
    src: url('../fonts/sinkinsans-700bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-700bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-700bolditalic-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-700bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-700bolditalic-webfont.svg#sinkin_sans700_bold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans800_black';
    src: url('../fonts/sinkinsans-800black-webfont.eot');
    src: url('../fonts/sinkinsans-800black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-800black-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-800black-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-800black-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-800black-webfont.svg#sinkin_sans800_black') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans900_x_black_italic';
    src: url('../fonts/sinkinsans-900xblackitalic-webfont.eot');
    src: url('../fonts/sinkinsans-900xblackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-900xblackitalic-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-900xblackitalic-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-900xblackitalic-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-900xblackitalic-webfont.svg#sinkin_sans900_x_black_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans900_x_black';
    src: url('../fonts/sinkinsans-900xblack-webfont.eot');
    src: url('../fonts/sinkinsans-900xblack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-900xblack-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-900xblack-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-900xblack-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-900xblack-webfont.svg#sinkin_sans900_x_black') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans800_black_italic';
    src: url('../fonts/sinkinsans-800blackitalic-webfont.eot');
    src: url('../fonts/sinkinsans-800blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-800blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-800blackitalic-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-800blackitalic-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-800blackitalic-webfont.svg#sinkin_sans800_black_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans200_x_light_italic';
    src: url('../fonts/sinkinsans-200xlightitalic-webfont.eot');
    src: url('../fonts/sinkinsans-200xlightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-200xlightitalic-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-200xlightitalic-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-200xlightitalic-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-200xlightitalic-webfont.svg#sinkin_sans200_x_light_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans200_x_light';
    src: url('../fonts/sinkinsans-200xlight-webfont.eot');
    src: url('../fonts/sinkinsans-200xlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-200xlight-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-200xlight-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-200xlight-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-200xlight-webfont.svg#sinkin_sans200_x_light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans100_thin';
    src: url('../fonts/sinkinsans-100thin-webfont.eot');
    src: url('../fonts/sinkinsans-100thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-100thin-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-100thin-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-100thin-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-100thin-webfont.svg#sinkin_sans100_thin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans100_thin_italic';
    src: url('../fonts/sinkinsans-100thinitalic-webfont.eot');
    src: url('../fonts/sinkinsans-100thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-100thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-100thinitalic-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-100thinitalic-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-100thinitalic-webfont.svg#sinkin_sans100_thin_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
  color:#2e2f2c;
  font-family: 'sinkin_sans400_regular';
}
#wrapper .clear {
    clear: both;
    height: 107px;
    padding-top:65px;
}
#wrapper{
    min-height: 100%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -65px;
    overflow: hidden;
    position:relative;
    background:#f1f1f1;
}
.in{
  max-width: 942px;
  width:100%;
  margin: 0 auto;  
}
.fullwidth{
  width:100%;
  padding-top: 61px;
}
.holder,
.wrapper_header{
    max-width: 943px;
    margin-left: auto;
    margin-right: auto;
}
/*header*/
#header {
  margin: 0 auto;
  border-top: 4px solid #d44529;
  padding: 30px 0 3px;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px 1px #ececec;
  -moz-box-shadow: 0 1px 1px 1px #ececec;
  box-shadow: 0 1px 1px 1px #ececec;
}
#header:after{
  display: table;
  clear:both;
  content:"";
}
#header .l_head {
  display: inline-block;
  width: 276px;
  margin-bottom: 21px;
  margin-left: 0.5%;
}
#header .l_head .logo {
  margin: 0;
  float:left;
  width:276px;
}
#header .l_head .logo a,
#header .l_head .logo span {
  width: 100%;
  height: 51px;
  background-size: 100% auto;
  display: block;
  background: url(../images/logo.png) no-repeat 0 0;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  -ms-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
#header .l_head .logo img {
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  -ms-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
#header .l_head .logo:hover a, #header .l_head .logo:hover span {
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=$opacity_ie)";
}
#header .menu {
  float: right;
  display: inline-block;  
  margin-top: 16px;
  min-width: 566px;
  width:66%;  
}
#header .menu .nav {
    margin: 0;
    text-align: right;
    display: inline-block;
    min-width: 650px;
    float:right;
}
#header .menu .nav:after{
    clear:both;
    display: table;
    content:"";
}
#header .menu .nav li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 4.8%;
  font-family: 'sinkin_sans500_medium';
  float: left;
  text-align: center;
  font-size: 13px;
}
#header .menu .nav li.item1 {
  min-width: 150px;
}
#header .menu .nav li.item2 {
  min-width: 100px;
}
#header .menu .nav li.item3 {
  min-width: 38px;
}
#header .menu .nav li.item4 {
  min-width: 63px;
}
#header .menu .nav li.item5 {
  min-width: 142px;
}
#header .menu .nav li.item5 a, #header .menu .nav li.item5 a:visited {
  background: #d44529;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  -o-transition: background-color 300ms ease-out;
  -ms-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}
#header .menu .nav li.item6 {
  min-width: 47px;
}
#header .menu .nav li.active a, #header .menu .nav li a:hover {
  color: #d44529;
}
#header .menu .nav li.item5 a, #header .menu .nav li.item5 a:visited {
  background: #d44529;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
}
#header .menu .nav li.item5 a:hover {
  background: #888888;
}
#header .menu .nav li a {
  position: relative;
  padding: 8px 0 10px;
  display: block;
  color: #252623;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  -o-transition: color 300ms;
  -ms-transition: color 300ms;
  transition: color 300ms;
}
/*/header*/
/*footer*/
#footer {
  background: #fff;
  min-height: 65px;
  position: relative;
  z-index: 10;
  color: #979a91;
  font-size: 10px;
  font-family: 'sinkin_sans500_medium';
}
#footer .in {
  padding-top: 21px;
}
#footer .block_social {
  display: inline-block;
  overflow: hidden;
}
#footer .block_social p {
  line-height: 24px;
  margin-right: 12px;
  display: inline-block;
  text-transform: uppercase;
  float: left;
  margin-bottom: 0;
}
#footer .block_social ul {
  display: inline-block;
  margin-bottom: 0;
}
#footer .block_social ul li {
  display: inline-block;
  float: left;
  margin: 0 2px;
}
#footer .block_social ul li a {
  display: block;
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  -ms-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
#footer .block_social ul li.tw a {
  background-image: url(../images/tw.png);
}
#footer .block_social ul li.fc a {
  background-image: url(../images/fc.png);
}
#footer .block_social ul li.go a {
  background-image: url(../images/go.png);
}
#footer .block_social ul li a:hover {
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=$opacity_ie)";
}
#footer .copy {
  display: inline-block;
  white-space: nowrap;
  float: right;
  line-height: 24px;
}
/*/footer*/
.fullwidth .text_block h1{
    font-size: 34px;
    font-family: 'sinkin_sans500_medium';
    margin-bottom: 0;
}
.text_block p{
    font-size: 23px;
    line-height: 39px;
    width:100%;
    max-width: 621px;
    margin-left: 3px;
}
.text_block{
  padding-bottom: 22px;
  border-bottom: 1px solid #b8baaf;
  margin-bottom: 41px;
}
.right_block{
    background-color: #fff;
    border:3px solid #bdcbd3;
    padding:34px 26px 44px;
    -khtml-border-radius: 3px; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.right_block:after{
  display: table;
  content:"";
  clear:both;
}
.right_block .lists{
    margin-bottom: 44px;
}
.lists .lists_title{
    font-size: 23px;
    line-height:26px;
    margin-bottom: 34px;
}
.lists ul{
  padding:0 2px;
}
.lists ul li{
    margin-bottom: 17px;
    font-size: 13px;
    line-height: 19px;
}
.lists ul li a{
    color:#2e2f2c;
}
.lists ul li a:hover,
.lists ul li.active a{
    text-decoration: underline;
    color:#d44529;
}
.wrapper_blocks{
  padding-bottom: 69px;
}
.wrapper_blocks .large-4 {
    width: 28.93333%;
    float:right;
    margin-top: 9px;
}
.wrapper_blocks [class*="column"] + [class*="column"]:last-child{
    float:left;
}
.lists_block{
  padding-left: 4px;
}
.wrapper_blocks .lists_block li{
    display: block;
    width:100%;
    margin-bottom: 62px;
}
.title_block,
.content .title_block{
    font-size: 23px;
    line-height: 34px;
}
.title_block{
  margin-bottom: 13px;
}
.content .title_block{
  margin-bottom: 9px;
}
.author{
    font-size: 13px;
    margin-bottom: 19px;
}
.content .author{
  margin-bottom: 17px;
}
.author a{
    text-decoration: underline;
    color:#01abe4;
}
.author a:hover{
    text-decoration: none;
}
.image{
    margin-bottom: 18px;
}
.image img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.social{
    padding-bottom: 16px;
    border-bottom:1px solid #b8baaf;
    margin:0 -1px 24px;
}
.social .like{
    display: inline-block;
    margin: 0 1px;
}
.introtext{
    margin-bottom: 24px;
}
.introtext,
.introtext p{
    font-size: 13px;
    line-height: 25px;    
}
.introtext p{
    margin-bottom: 5px;
}
.link_more{
  font-size: 13px;
}
.content p{
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 25px;
}
.content h4{
    margin-bottom: 25px;
    font-size: 15px;
    color:#d44529;
}
.line,
.line_1{
    height:1px;
    width:100%;
    color:#b8baaf;
    background-color: #b8baaf;
    margin-bottom: 25px;
}
.link_back{
    font-size: 13px;
}
.line_1{
  height:1px;
  width:100%;
  color:#b8baaf;
  background-color: #b8baaf;
  margin:54px 0 21px;
}
@media screen and (max-width:960px) { 
  .holder{
    padding:0 1%;
  }
}
@media screen and (max-width:972px) {
  #header{
    padding-bottom: 18px;
  }
  #header .l_head .logo{
    float:none;
    margin-left: auto;
    margin-right: auto;
  }
  #header .menu {
    float: none;
    display: block;
    width: 100%;   
    text-align: center; 
    margin-top: 16px;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  #header .menu .nav{
    text-align: center;
    width:auto; 
    display: block;
    min-width: 100%;
    float: none;   
  }
  #header .menu .nav li{
    margin-right: 1.4%;
    margin-left: 1.4%;
    float: none;
  }
  #header .l_head {
    float: none; 
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .fullwidth .in{
    padding-left:1%;
    padding-right:1%;
    width:98%;
  }
}
@media screen and (min-width:700px) and (max-width:860px) {
  .wrapper_blocks .large-4{
    width:30.93333%;
  }
  .wrapper_blocks .large-8{
    width:64.66667%;
  }
  .lists .lists_title{
    font-size: 20px;
    margin-bottom: 20px;
  }
  .lists ul li{
    font-size: 12px;
  }
  .right_block .lists {
    margin-bottom: 27px;
  }
  .right_block{
    padding-bottom: 7px;
  }  
}
@media screen and (max-width:700px){
  .wrapper_blocks .lists_block li{
    margin-bottom: 30px;
  }
  .fullwidth{
    padding-top: 28px;
  }
  .wrapper_blocks{
    padding-bottom: 15px;
  }
  .wrapper_blocks .large-4,
  .wrapper_blocks .large-8{
    width:100%;
    float:none;
  }
  .wrapper_blocks .large-4{
    margin-bottom: 20px;
  }
  .right_block{
    padding:20px 16px 0px;
  }
  .right_block .lists{
    width:46%;
    float:right;
    margin-bottom: 6px;    
  }
  .right_block .lists:first-child{
    float:left;
  }
}
@media screen and (max-width:542px){
  #footer .block_social {
    width: 154px;
    margin-left: auto;
    margin-right: auto;
  }
  #footer .block_social, #footer .copy {
    display: block;
    text-align: center;
    float: none;
    width: 100%;
  }
  #footer .block_social p {
    float: none; 
    vertical-align: top;
  }
}
@media screen and (max-width:460px){
  .right_block .lists{
    width:100%;
    float:none;
    margin-bottom: 20px;    
  }  
}